<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campgrounds</title>
</head>

<body>
    <h1>All Campgrounds</h1>
    <p><a href="/campgrounds/new">NEW CAMPGROUND</a></p>
    <ul>
        <% for (let campground of campgrounds) { %>
            <li>
                <%= campground.title %>
                    <a href="/campgrounds/<%= campground._id %>">[details]</a>
                    <a href="/campgrounds/<%= campground._id %>/edit">[edit]</a>
            </li>
            <% } %>
    </ul>
</body>

</html>